<p style="font-size: 22px;"><strong>Olá</strong>,{{deliveryman_name}}.</p>
<h3>Sua entrega já esta disponível para retirada.</h3>
<p><strong>Destinatário:</strong> {{recipient_name}}</p>
<p><strong>Endereço de entrega:</strong> Rua {{recipient_street}},
  {{recipient_number}}, {{recipient_city}} - {{recipient_state}},
  {{recipient_zipCode}}</p>
<p><strong>Complemento:</strong> {{recipient_complement}}</p>
<p><strong>Produto:</strong> {{product_name}}</p>
